<p-table [columns]="cols" [value]="brands" [(selection)]="selected" dataKey="vin" selectionMode="single">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">

        <tr [style.background]="rowData == highlighted ? 'red' : ''" [pSelectableRow]="rowData">
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td (click)="setHighlighted(rowData)" *ngFor="let col of columns">{{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>